<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      property="vk:image"
      content="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
    />
    <meta
      name="twitter:image"
      content="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
    />
    <meta
      property="og:image"
      content="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <link rel="icon" href="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}">
    <!-- Bootstrap link-->
    <link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <!-- Fontawesome link -->
    <link rel="stylesheet" href="{% static 'asserts/fontawesome-free-6.2.0-web/css/all.css' %}">
    <!--page style-->
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <title>Cryptency - Профиль</title>
</head>
<body>
<div id="preloader">
    <div class="tanirovka"></div>
    <div id="loader"></div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="margin-top: 70px;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-secondary text-dark">
            <img src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}" class="rounded me-2" alt="..."
                 style="width: 30px;">
            <strong class="me-auto text-white">Cryptency</strong>
        </div>
        <div class="toast-body ">

        </div>
    </div>
</div>


<section class="container-fluid about p-0">
    <section class="header rgb mb-5">
        <div class="header_menu">
            <nav class="navbar navbar-expand-lg bg-transparent">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" href="{% url 'profile' %}">
                        <img class="navbar_img" src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
                             alt="">
                        <h3 class="fw-bold">Cryptency</h3>
                    </a>
                    <button id="btn_header" class="d-block d-lg-none menue_btn bg-transparent" type="button">
                        <i class="fa-solid fa-bars-staggered fa-2x"></i>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mb-2 mb-lg-0 col justify-content-end me-5 text-uppercase">
                            <li class="mx-3 my-2 fw-bold tap-btn"><a href="{% url 'profile' %}">МОЙ
                                КАБИНЕТ</a></li>
                            <li class="mx-3 my-2 fw-bold tap-btn"><a
                                    href="{% url 'profile_accrual' %}">МОИ НАЧИСЛЕНИЯ</a></li>
                            <li class="mx-3 my-2 fw-bold tap-btn"><a
                                    href="{% url 'profile_withdraws' %}">ВЫВОД СРЕДСТВ</a></li>
                            <li class="mx-3 my-2 fw-bold tap-btn"><a
                                    href="{% url 'profile_contacts' %}">Контакты</a></li>
                        </ul>
                        <div class="d-flex align-items-center gap-3">
                            <div class="fw-bold fs-15 text-success"><i class="fa-solid fa-sack-dollar me-2 text-warning"></i>{{ user_balance }} USD</div>
                            <div class="menue_img">
                                {% if user_photo %}
                                <img class="circle-img"
                                     src="/media/{{ user_photo }}"
                                     alt="">
                                {% else %}
                                <img class="circle-img"
                                     src="https://grantek-avto.ru/img/not_images.jpg"
                                     alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <div class="container-fluid position-relative p-0 px-xl-5 d-flex main_div">
        <div class="left_content p-3">
            <div class="imgDiv get_file">
                <form id="send_ava" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="avatar" onchange="clickInput()" id="get_file_input" type="file" hidden>
                </form>
                {% if user_photo %}
                <img class="circle-img"
                     src="/media/{{ user_photo }}"
                     alt="">
                {% else %}
                <img class="circle-img"
                     src="https://grantek-avto.ru/img/not_images.jpg"
                     alt="">
                {% endif %}
                <div class="overlay">
                    <div class="overlay_icon">
                        <i class="fa-solid fa-image"></i>
                    </div>
                </div>
            </div>
            {% if user_verify %}
            <h6 class="my-3 text-center text-lg-start">{{ user_surname }} {{ user_name }} <i style="color: #66C462; font-size: 20px;" class="ms-2 fa-solid fa-user-shield"></i></h6>
            {% else %}
            <h6 class="my-3 text-center text-lg-start">{{ user_surname }} {{ user_name }} <i style="color: #DC3545; font-size: 20px;" class="ms-2 fa-solid fa-user-shield"></i></h6>
            {% endif %}
            <a href="{% url 'user_purchase' %}" class="myBtn btn fs-14 my-2 p-3 w-75 text-white" style="border-radius:30px; background:#393939;">Оформить покупку</a>
            <br>
            <div style="cursor: pointer;" class="d-flex justify-content-between mt-2 pe-3 ref-link liveToastBtn"
                 data-link="{{ ref_link }}">
                <span class="fs-14 grey">Скопировать реф.ссылку</span><i class="fa-solid fa-link"></i>
            </div>


            <ul class="userMenu ">
                <div class="navbar-nav d-block d-lg-none text-uppercase">
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-user me-2"></i>
                        <a style="color:rgb(213, 113, 62); text-decoration:none;" href="{% url 'profile' %}">МОЙ КАБИНЕТ</a>
                    </li>
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-bag-shopping me-2"></i>
                        <a style="color:rgb(213, 113, 62); text-decoration:none;" href="{% url 'profile_accrual' %}">МОИ
                            НАЧИСЛЕНИЯ</a>
                    </li>
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-wallet me-2"></i>
                        <a style="color:rgb(213, 113, 62); text-decoration:none;" href="{% url 'profile_withdraws' %}">ВЫВОД
                            СРЕДСТВ</a>
                    </li>
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-phone-volume me-2"></i>
                        <a style="color:rgb(213, 113, 62); text-decoration:none;" href="{% url 'profile_contacts' %}">КОНТАКТЫ</a>
                    </li>
                </div>

                <div class="my-3 border-top border-bottom text-secondary">
                    <li>
                        <i class="fa-solid fa-video me-2"></i>
                        <a style="color:rgb(213, 113, 62); text-decoration:none;"
                           href="{% url 'profile_videos' %}">
                            Видео-ролики</a>
                    </li>


                </div>
                <li class="tap-btn">
                    <i class="fa-solid fa-gear me-2"></i>
                    <a style="color:rgb(213, 113, 62); text-decoration:none;" href="{% url 'settings_profile' %}">Настройки</a>
                </li>
                <li class="tap-btn">
                    <i class="fa-solid fa-circle-question me-2"></i>
                    <a style="color:rgb(213, 113, 62); text-decoration:none;" href="{% url 'profile_support' %}">Обратная
                        связь</a>
                </li>
                <li class="tap-btn">
                    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                    <a href="{% url 'user_logout' %}" style="color:rgb(213, 113, 62); text-decoration:none;">Выход</a>
                </li>
                <div class="d-flex align-items-center gap-3 border-top py-2">
                    <div class="fw-bold fs-13 d-block d-lg-none">{{ user_balance }} USD</div>
                </div>
            </ul>
        </div>
        {% block content %}

        {% endblock %}
    </div>

    <section class="footer  mt-100">
        <div class="container pt-5 ">
            <div class="row align-items-center border-top pt-5">
                <div class="row justify-content-between">
                    <div class="d-flex col-12 col-md-4 my-3 gap-3 justify-content-center justify-content-md-start">
                        <div class="footer_icon shadow">
                            <i class="fa-brands fa-whatsapp fs-5"></i>
                        </div>
                        <div class="footer_icon shadow">
                            <i class="fa-brands fa-viber fs-5"></i>
                        </div>
                        <div class="footer_icon shadow">
                            <i class="fa-solid fa-paper-plane fs-5"></i>
                        </div>

                    </div>
                    <div class="d-flex col-12 col-md-4 justify-content-center my-3 align-items-center">
                        <img class="navbar_img" src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
                             alt="">
                        <h2>Cryptency</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <ul class="d-block d-md-flex gap-3 p-0 pt-4">
                        <li><p>© FL.ru, 2005 – 2022</p></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">О проекте</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

<!--Bootstrap Js-->
<script src="{% static 'asserts/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'asserts/jquery/jqury.min.js' %}"></script>
{% block script %}
{% endblock %}
<script src="{% static 'js/menu.js' %}"></script>
</body>
</html>