<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      property="vk:image"
      content="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
    />
    <meta
      name="twitter:image"
      content="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
    />
    <meta
      property="og:image"
      content="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <link rel="icon" href="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}">
    <!-- Bootstrap link-->
    <link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <!-- Fontawesome link -->
    <link rel="stylesheet" href="{% static 'asserts/fontawesome-free-6.2.0-web/css/all.css' %}">
    <!--page style-->
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <title>Cryptency - Профиль</title>
</head>
<body>
<div id="preloader">
    <div class="tanirovka"></div>
    <div id="loader"></div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="margin-top: 70px;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-secondary text-dark">
            <img src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}" class="rounded me-2" alt="..."
                 style="width: 30px;">
            <strong class="me-auto text-white">Cryptency</strong>
        </div>
        <div class="toast-body ">

        </div>
    </div>
</div>

<section class="container-fluid about p-0">
    <section class="header rgb mb-5">
        <div class="header_menu">
            <nav class="navbar navbar-expand-lg bg-transparent">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" href="#">
                        <img class="navbar_img" src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
                             alt="">
                        <h3 class="fw-bold">Cryptency</h3>
                    </a>
                    <button id="btn_header" class="d-block d-lg-none menue_btn bg-transparent" type="button">
                        <i class="fa-solid fa-bars-staggered fa-2x"></i>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mb-2 mb-lg-0 col justify-content-end me-5 text-uppercase">
                            <li class="mx-3 my-2 fw-bold tap-btn"><a href="{% url 'profile' %}">МОЙ
                                КАБИНЕТ</a></li>
                            <li class="mx-3 my-2 fw-bold tap-btn"><a
                                    href="{% url 'profile_accrual' %}">МОИ НАЧИСЛЕНИЯ</a></li>
                            <li class="mx-3 my-2 fw-bold tap-btn"><a
                                    href="{% url 'profile_withdraws' %}">ВЫВОД СРЕДСТВ</a></li>
                            <li class="mx-3 my-2 fw-bold tap-btn"><a
                                    href="{% url 'profile_contacts' %}">Контакты</a></li>
                        </ul>
                        <div class="d-flex align-items-center gap-3">
                            <div class="fw-bold fs-15 text-success"><i class="fa-solid fa-sack-dollar me-2 text-warning"></i>{{ user_balance }} USD</div>
                            <div class="menue_img">
                                {% if user_photo %}
                                <img class="circle-img"
                                     src="/media/{{ user_photo }}"
                                     alt="">
                                {% else %}
                                <img class="circle-img"
                                     src="https://grantek-avto.ru/img/not_images.jpg"
                                     alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <div class="container-fluid position-relative p-0 px-xl-5 d-flex">
        <div class="left_content  p-3">
            <div class="imgDiv get_file">
                <form id="send_ava" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="avatar" onchange="clickInput()" id="get_file_input" type="file" hidden>
                </form>
                {% if user_photo %}
                <img class="circle-img"
                     src="/media/{{ user_photo }}"
                     alt="">
                {% else %}
                <img class="circle-img"
                     src="https://grantek-avto.ru/img/not_images.jpg"
                     alt="">
                {% endif %}
                <div class="overlay">
                    <div class="overlay_icon">
                        <i class="fa-solid fa-image"></i>
                    </div>
                </div>
            </div>
            {% if user_verify %}
            <h6 class="my-3 text-center text-lg-start">{{ user_surname }} {{ user_name }} <i style="color: #66C462; font-size: 20px;" class="ms-2 fa-solid fa-user-shield"></i></h6>
            {% else %}
            <h6 class="my-3 text-center text-lg-start">{{ user_surname }} {{ user_name }} <i style="color: #DC3545; font-size: 20px;" class="ms-2 fa-solid fa-user-shield"></i></h6>
            {% endif %}
            <a href="{% url 'user_purchase' %}" class="btn fs-14 my-2 p-3 w-75 text-white" style="border-radius:30px; background:#393939;">Оформить покупку</a>
            <br>
            <div style="cursor: pointer;" class="d-flex justify-content-between mt-2 pe-3 ref-link" id="liveToastBtn"
                 data-link="{{ ref_link }}">
                <span class="fs-14 grey">Скопировать реф.ссылку</span><i class="fa-solid fa-link"></i>
            </div>


            <ul class="userMenu ">
                <div class="navbar-nav d-block d-lg-none text-uppercase">
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-user me-2"></i>
                        <a style="color:#808080; text-decoration:none;" href="{% url 'profile' %}">МОЙ КАБИНЕТ</a>
                    </li>
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-bag-shopping me-2"></i>
                        <a style="color:#808080; text-decoration:none;" href="{% url 'profile_accrual' %}">МОИ
                            НАЧИСЛЕНИЯ</a>
                    </li>
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-wallet me-2"></i>
                        <a style="color:#808080; text-decoration:none;" href="{% url 'profile_withdraws' %}">ВЫВОД
                            СРЕДСТВ</a>
                    </li>
                    <li class="my-2 fs-14 tap-btn">
                        <i class="fa-solid fa-phone-volume me-2"></i>
                        <a style="color:#808080; text-decoration:none;"
                           href="{% url 'profile_contacts' %}">КОНТАКТЫ</a>
                    </li>
                </div>

                <div class="my-3 border-top border-bottom text-secondary">
                    <li>
                        <i class="fa-solid fa-video me-2"></i>
                        <a style="color:#808080; text-decoration:none;"
                           href="{% url 'profile_videos' %}">Видео-ролики</a>
                    </li>
                </div>
                <li class="tap-btn">
                    <i class="fa-solid fa-gear me-2"></i>
                    <a style="color:#808080; text-decoration:none;"
                       href="{% url 'settings_profile' %}">Настройки</a>
                </li>
                <li class="tap-btn">
                    <i class="fa-solid fa-circle-question me-2"></i>
                    <a style="color:#808080; text-decoration:none;" href="{% url 'profile_support' %}">Обратная
                        связь</a>
                </li>
                <li class="tap-btn">
                    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                    <a href="{% url 'user_logout' %}" style="color:#808080; text-decoration:none;">Выход</a>
                </li>
                <div class="d-flex align-items-center gap-3 border-top py-2">
                    <div class="fw-bold fs-14 btn btn-warning d-block d-lg-none">{{ user_balance }} USD</div>
                </div>
            </ul>
        </div>
        <section class="mySettings content right-content" id="mySettings">
            <div class="container">
                <div class="header_content mb-100">
                    <h2 class=" fw-bold mt-4">Мои настройки</h2>
                    <p>Здесь ты можешь изменить настройки учетной записи и сменить пароль.
                        Пожалуйста, <br> свяжись с нами , если у тебя есть вопросы.</p>
                </div>
               {% if user_data_verify %}
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show p-4" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                        <use xlink:href="#info-fill"/>
                    </svg>
                    <div>
                        <strong>Проверка личных данных...</strong> После проверки вам будет доступны вывод денег.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
            </div>
                <div class="border-bottom my-3 m-0 m-md-3 d-flex settingsMenue">
                    <p class="py-2 my-0 mx-1 mx-md-3 fs-13 fw-bold sett-btn"><a
                            href="{% url 'settings_profile' %}">ПРОФИЛЬ</a></p>
                    <p class="py-2 my-0 mx-1 mx-md-3 fs-13 fw-bold sett-btn">
                        <a href="{% url 'settings_secure' %}">БЕЗОПАСНОСТЬ И
                            ВХОД</a></p>
                    <p class="py-2 my-0 mx-1 mx-md-3 fs-13 fw-bold sett-btn"><a
                            href="{% url 'settings_docs' %}">ПРОВЕРКА
                        ДОКУМЕНТОВ</a>
                    </p>
                </div>
                {% block content %}

                {% endblock %}
        </section>
    </div>

    <section class="footer  mt-100">
        <div class="container pt-5 ">
            <div class="row align-items-center border-top pt-5">
                <div class="row justify-content-between">
                    <div class="d-flex col-12 col-md-4 my-3 gap-3 justify-content-center justify-content-md-start">
                        <div class="footer_icon shadow">
                            <i class="fa-brands fa-whatsapp fs-5"></i>
                        </div>
                        <div class="footer_icon shadow">
                            <i class="fa-brands fa-viber fs-5"></i>
                        </div>
                        <div class="footer_icon shadow">
                            <i class="fa-solid fa-paper-plane fs-5"></i>
                        </div>

                    </div>
                    <div class="d-flex col-12 col-md-4 justify-content-center my-3 align-items-center">
                        <img class="navbar_img" src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}" alt="">
                        <h2>Cryptency</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <ul class="d-block d-md-flex gap-3 p-0 pt-4">
                        <li><p>© FL.ru, 2005 – 2022</p></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">О проекте</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

<!--Bootstrap Js-->
<script src="{% static 'asserts/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'asserts/jquery/jqury.min.js' %}"></script>
{% block script %}
{% endblock %}
<script src="{% static 'js/menu.js' %}"></script>
</body>
</html>