<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--logo-->
    <link rel="icon" href="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}">
    <!-- Bootstrap link-->
    <link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <!-- Fontawesome link -->
    <link rel="stylesheet" href="{% static 'asserts/fontawesome-free-6.2.0-web/css/all.css' %}">
    <!--page style-->
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    {% block title %}

    {% endblock %}
</head>
<body>
<div id="preloader">
    <div id="loader"></div>
</div>
{% block content %}
{% endblock %}

<!--Bootstrap Js-->
<link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}">
{% block script %}
{% endblock %}
</body>
</html>