{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
    <!-- logo title -->
    <link rel="icon" href="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}">
    <!-- Bootstrap link-->
    <link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <!-- Fontawesome link -->
    <link rel="stylesheet" href="{% static 'asserts/fontawesome-free-6.2.0-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

    <style>
        .packet a{
            text-decoration: none;
            color: #000;
        }
        .packet a:hover{
            color: #FFC107;
        }
        .navbar_img {
            width: 60px;
        }

        .circle_one {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            text-align: center;
            line-height: 35px;
            background: #FFC20B;
            color: #fff;
        }
        .file_get{
            cursor: pointer;
        }



    </style>
</head>

<body>

<section class="packet py-5">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center mb-3" href="index.html">
            <img class="navbar_img" src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}" alt="">
            <h3 class="fw-bold">Cryptency</h3>
        </a>
        <div class="row">
            <div class="d-flex align-items-center gap-4">
                <a href="{% url 'user_purchase' %}"><i class="fa-solid fa-angle-left fa-2x "></i></a>
                <h2>Покупка пакета</h2>
            </div>
            <p>Здесь ты можешь оформить заявку на покупку пакета.</p>
            <div class="d-flex gap-3 align-items-center mt-5 mb-3">
                <div class="circle_one"><b>1</b></div>
                <h4>Информация о платеже</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td scope="row">Наименование платежа</td>
                        <th>За пакет {{services.service_name}}</th>

                    </tr>
                    <tr>
                        <td scope="row">Сумма операции</td>
                        <th>{{services.service_price1}} USD</th>

                    </tr>
                    <tr>
                        <td scope="row">Ставка ндс</td>
                        <th>0%</th>
                    </tr>
                    <tr>
                        <td scope="row">Сумма к оплате</td>
                        <th>{{services.service_price1}} USD</th>
                    </tr>
                    <tr>
                        <td scope="row">Номер карты для перевода денег</td>
                        <th>{{ card_number }}</th>
                    </tr>

                    </tbody>
                </table>
                <div class="d-flex gap-3 align-items-center mt-5 mb-3">
                    <div class="circle_one"><b>2</b></div>
                    <h4>Проверка оплаты</h4>
                </div>
                <div class="col-12 text-center">
                    <p class="text-secondary fs-13">Фото паспорта</p>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6 get_file">
                            <form id="send_ava" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card p-3 py-4 text-center file_get">
                                    <input onchange="clickInput()" id="get_file_input" name="pay_check" type="file"
                                           hidden>
                                    <h5 class="fw-bold">Отправьте фото чека</h5>
                                    <p class="fs-12 text-secondary">Нажмите сюда</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap js link -->
<script src="{% static 'asserts/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'asserts/jquery/jqury.min.js' %}"></script>
<!-- Bootstrap js link -->
<script src="{% static 'js/buy_service.js' %}"></script>
</body>

</html>