{% extends 'cryptency/base.html' %}
{% load static %}

{% block title %}
<title>Cryptency - Регистрация</title>
{% endblock %}


{% block content %}
<!--modal-->
<div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable h-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque dignissimos fugit assumenda aperiam enim fuga sequi,
                optio accusantium beatae reprehenderit ut quam, ad reiciendis
                delectus veniam temporibus perferendis quia cum velit obcaecati
                sapiente cupiditate. Ducimus perspiciatis, quo consectetur veniam,
                aliquid eum commodi veritatis molestiae accusantium labore placeat
                eaque? Tenetur aut harum nesciunt magni quas tempora ad, vitae,
                sunt in doloremque porro expedita unde eius blanditiis nisi
                temporibus distinctio iste praesentium suscipit odio atque!
                Eveniet autem sit natus quos, quod amet eius facere sed
                repellendus aliquid, voluptates, blanditiis a rerum similique
                dolorem in fugit quas? Tempora vitae, dolor, voluptas laboriosam
                libero commodi eius modi est voluptatum porro similique. Odit
                explicabo consequuntur praesentium ipsa modi! Incidunt omnis
                nobis, architecto perferendis non, reiciendis ipsam explicabo
                vero, tempora possimus provident esse aperiam sit! Soluta iusto
                tempore quam. Quo veritatis eum fugiat aperiam culpa velit cumque
                repellendus recusandae dolorum officiis ab, adipisci cupiditate
                nostrum voluptatibus nam aliquam ratione blanditiis! Facilis iusto
                dicta eligendi velit, ad ullam saepe vero harum deleniti odio
                quae. Molestiae maiores est fugit, accusamus, dolor, quis
                voluptate quidem facilis dolore fuga quod doloribus perspiciatis
                corrupti inventore quos obcaecati cupiditate similique qui veniam
                itaque. Inventore quod doloremque cum sit eveniet eligendi
                corrupti quaerat quidem eum, nostrum ea beatae blanditiis, iste
                ipsam! Illum, dolores facilis aliquam quae optio rerum amet
                maiores asperiores porro sit consequuntur. Quas cupiditate libero
                quisquam est odio mollitia eum exercitationem nesciunt repellat ea
                accusamus, debitis dignissimos doloribus laborum, sequi et eveniet
                nam eos! Iusto, sapiente in. Vitae, quos inventore quae sed iure
                eos eveniet, eius earum voluptatum at voluptate. Non nisi error,
                veritatis deleniti officiis quasi molestiae eos nam itaque labore
                repudiandae consequuntur nulla placeat nihil autem laudantium.
                Itaque iste impedit hic quae quis eius sed perferendis. Saepe
                accusamus consequatur enim totam qui, nesciunt reiciendis eveniet
                eos asperiores. Quis, voluptatibus!
                <div class="form-check mt-3 d-flex justify-content-between">
                    <div>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                id="flexCheckDefault2"
                        />
                        <label class="form-check-label" for="flexCheckDefault2">
                            Default checkbox
                        </label>
                    </div>
                    <button
                            disabled
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                            id="modal_submit"
                    >
                        Submit
                    </button>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="container justify-content-center">
    <div class="singupCard shadow">
        <form method="post" class="p-4">
            {% csrf_token %}
            <h2 class="mb-4 fw-bold text-center">Регистрация</h2>
            <div class="mb-3">
                <label class="text-secondary fs-14">Выберите страну</label>
                <select name="country" class="form-select py-2" id="">
                    <option value="belarusya">Беларуссия</option>
                    <option value="rossia">Россия</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="text-secondary fs-14">Имя</label>
                <input type="text" name="name" class="form-control py-2">
            </div>
            <div class="mb-3">
                <label class="text-secondary fs-14">Фамилия</label>
                <input type="text" name="surname" class="form-control py-2">
            </div>
            <div class="email mb-3">
                <label class="text-secondary fs-14">Введи свой Email</label>
                <input type="email" name="email" class="form-control email_inp py-2">
            </div>
            <div>
                <label class="text-secondary fs-14">Придумайте пароль</label>
                <div class="input-group mb-3">
                    <input type="password" name="password1" class="form-control password1 py-2"
                           placeholder="Password">
                    <span class="input-group-text bg-transparent" id="pass1"><i class="fa-solid fa-eye"></i></span>
                </div>
            </div>
            <p style="font-size: 13px;" class="text-danger mb-4 p-2 bg-light dNone error">Не менее 8 символов;<br>как
                минимум одна заглавная и одна строчная буква;<br>как минимум одна цифра;</p>
            <div>
                <label class="text-secondary fs-14">Повторите пароль</label>
                <div class="input-group mb-3">
                    <input type="password" name="password2" class="form-control password2 py-2" placeholder="Password">
                    <span class="input-group-text bg-transparent" id="pass2"><i class="fa-solid fa-eye"></i></span>
                </div>
            </div>
            <p style="font-size: 13px;" class="text-danger mb-4 dNone error1">Пароль не совпадает</p>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="flexCheckDefault"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </div>
            <center>
                <input name="is_ref" type="text" value="{{ is_ref }}" hidden/>
                <button type="submit" id="submit_btn" class="btn btn-warning shadow px-5 my-3">Регистрация</button>
            </center>
            {% if status %}
            <div class="alert alert-warning" role="alert">
                {{ status }}
            </div>
            {% endif %}
        </form>
        <div class="bg-light text-center p-3">
            <a href="{% url 'user_login' %}">Войти</a>
            <p class="text-secondary">Если у тебя есть аккаунт</p>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'js/user.js' %}"></script>
<script>
      let checkbox = document.querySelector('#flexCheckDefault');
      let checkbox2 = document.querySelector('#flexCheckDefault2');
      let modal_submit = document.querySelector('#modal_submit');
      let submit_btn = document.querySelector('#submit_btn');
      submit_btn.disabled = true;
      checkbox.addEventListener('click', function() {
        if (checkbox.checked){
          checkbox.checked = false;
        }
      })
      checkbox2.addEventListener('click', function() {
        modal_submit.disabled = false;
      });
      modal_submit.addEventListener('click', function() {
        checkbox.checked = true;
        submit_btn.disabled = false;
      })

</script>

{% endblock %}

