{% extends 'cryptency/base_panel.html' %}
{% load static %}


{% block content %}

<section class="usd content active right-content" id="myOfficde">
    <div class="container">
        <div class="header_content mb-100">
            <h2 class=" mt-4 fw-bold">Мой кабинет</h2>
            <p>Здесь ты можешь оформить заявку на вывод средств</p>
        </div>
        <div class="row p-2">
            <div class="col-12 col-sm-6 col-lg-4 p-0 pe-sm-2 mt-3 mt-lg-0">
                <div class="card py-4 px-3 h-100  cardKabinet gradientBG border-0 text-white">
                    <div>
                        <p class="fs-13">Доступно к выводу</p>
                        <h5 class="fw-bold"><span>{{ user_balance }}</span> <span>USD</span></h5>
                        {% if user_verify2 %}
                        <a href="{% url 'withdraws_cash' %}" class="btn btn-light px-4 br-radius">Вывод</a>
                        {% else %}
                        <a href="#" class="btn btn-light px-4 br-radius disabled">Вывод</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 p-0 ps-sm-2 pe-md-0 px-lg-2  mt-3 mt-lg-0">
                <div class="card py-4 px-3 h-100  cardKabinet">
                    <p class="fs-13">Ожидает начисления</p>
                    {% if withdraw_cash %}
                    <h5 class="fw-bold"><span>{{ withdraw_cash }}</span> <span>USD</span></h5>
                    {% else %}
                    <h5 class="fw-bold"><span>0</span> <span>USD</span></h5>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 p-0 ps-lg-2 mt-3 mt-lg-0">
                <div class="card py-4 px-3 h-100  cardKabinet">
                    <p class="fs-13">Доступно к выводу</p>
                    <h5 class="fw-bold"><span>{{ user_balance }}</span> <span>USD</span></h5>
                </div>
            </div>
        </div>
        {% if not user_verify2 %}
        <div class="row p-4 position-relative m-0 my-3 mt-4  attention">
            <img src="{% static 'images/Ресурс 23@8x.png' %}" class="paperPlane d-none d-sm-block" alt="">
            <h6>Внимание!</h6>
            <ul>
                <li>Минимальная сумма вывода {{ min_withdraw }}$</li>
                {% if not user_verify %}
                <li>У Вас не пройдена <a href="{% url 'settings_docs' %}">верификация</a></li>
                {% endif %}
                {% if not purchase_status %}
                <li>Вы не можете вывести средства, т.к. у Вас нет <a href="{% url 'user_purchase' %}">купленных пакетов</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="row pt-2 ">
            <div class="col-12 col-md-6">
                <div class="align-items-center profile_border d-flex p-3">
                    <div class="p-3">
                        <h5 class="fw-bold mb-3">Рефералов приглашено</h5>
                        <i style="color: #808080; font-size: 20px;" class="fa-solid fa-user-group"></i>
                        <span class="ms-3 fw-bold h5">{{ user_referals }}</span>
                        <span style="letter-spacing: 0.5px;"
                              class="text-muted d-block mt-4">Приглашенные рефералы {{ user_referals }} чел</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pt-4 pt-sm-0">
                <div class="align-items-center profile_border d-flex p-3">
                    <div class="p-3">
                        <h5 class="fw-bold mb-3">Всего заработано с рефералов</h5>
                        <i style="color: #808080; font-size: 20px;" class="fa-solid fa-sack-dollar"></i><span
                            class="ms-3 fw-bold h5">{{ user_referals_bonus }} USD</span>
                        <span style="letter-spacing: 0.5px;"
                              class="text-muted d-block mt-4">Заработано от рефералов {{ user_referals_bonus }}$</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}