{% extends 'cryptency/base_panel.html' %}
{% load static %}


{% block content %}
<section class="myAccount content right-content" id="myAccount">
    <div class="container">
        <div class="header_content mb-100">
            <h2 class=" mt-4 fw-bold">Мои начисления</h2>
            <p>Здесь ты можешь оформить заявку на вывод средств</p>
        </div>
        <div class="row p-2">
            <div class="col-12 col-sm-8 col-lg-6 p-0 pe-sm-2 mt-3 mt-lg-0">
                <div class="card py-4 px-3 h-100  cardKabinet gradientBG border-0 text-white">
                    <div>
                        <p class="fs-13">Доступно к выводу</p>
                        <h5 class="fw-bold"><span>{{ user_balance }}</span> <span>USD</span></h5>
                        {% if user_verify2 %}
                        <a href="{% url 'withdraws_cash' %}" class="btn btn-light px-4 br-radius">Вывод</a>
                        {% else %}
                        <a href="#" class="btn btn-light px-4 br-radius disabled">Вывод</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row border p-0 p-sm-5 my-3 m-0">
            <div class="d-block d-sm-flex justify-content-center justify-content-sm-between">
                <h3>История начислений</h3>
                <!--                <select name="" class="form-select w-50" id="">-->
                <!--                    <option value="1">Status</option>-->
                <!--                    <option value="1">Status</option>-->
                <!--                    <option value="1">Status</option>-->
                <!--                    <option value="1">Status</option>-->
                <!--                </select>-->
            </div>
            {% if refs_static %}
            <div class="table-responsive">
                <table class="table mt-5 table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">Имя реферала</th>
                        <th scope="col">Название</th>
                        <th scope="col">Получил %</th>
                        <th scope="col">Дата покупки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dict_item in refs_static %}
                    <tr>
                        <td>{{ dict_item.name }}</td>
                        <td>{{ dict_item.service_name }}</td>
                        <td>{{ dict_item.procent }}$</td>
                        <td>{{ dict_item.user_pay_date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <center>
                <i class="fa-solid fa-file-circle-xmark text-danger" style="font-size: 50px;"></i>
                <h4>Нет истории начислений</h4>
            </center>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}
