{% extends 'cryptency/base_panel.html' %}
{% load static %}


{% block content %}

<section class="event_video content right-content" id="event_video">
    <div class="container">
        <div class="header_content mb-100">
            <h1 class="display-6 fw-bold">Видео-ролики</h1>
        </div>
        <div class="row videos_section mb-100">
            {% if status %}
            <center>
                <div class="alert alert-danger w-50 text-center" role="alert">
                {{ status }}
            </div>
            </center>
            {% else %}
            {% for v in user_videos %}
            {% for video in v %}
            <div class="col-12 col-md-6 g-4">
                <div class="card">
                    <div class="video_card card">
                        <div class="intro">
                            <div class="wrapper"></div>
                            <img class="intro_pic"
                                 src="{% static 'images/1612579354_5-p-fon-dlya-prezentatsii-oranzhevii-s-zelenim-6.jpg' %}"
                                 alt=""/>
                            <i class="fa-solid fa-circle-play play"></i>
                        </div>
                        <iframe class="img-fluid video" src="https://www.youtube.com/embed/{{ video.video_link }}"
                                frameborder="0" allow="autoplay" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5>{{ video.video_title }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}

{% block script %}

<script>
    let videos_section = document.querySelector(".videos_section");
let video_card = document.querySelectorAll(".video_card");
let intro = document.querySelector(".intro");
video_card.forEach((item) => {
    item.addEventListener("click", function () {
        item.children[0].style.display = "none";
    });
});
</script>
{% endblock %}