{% extends 'cryptency/base_panel.html' %}
{% load static %}


{% block content %}

<section class="event_video content right-content" id="event_video">
    <div class="container">
        <div class="header_content mb-100">
            <h2 class="mt-4 fw-bold">Видео-ролики</h2>
        </div>
        <div class="row videos_section mb-100">
            {% if status %}
            <center>
                <i class="fa-solid fa-video-slash text-danger" style="font-size: 200px;"></i>
                <h2>Нет видео роликов</h2>
            </center>
            {% else %}
            {% for v in user_videos %}
            {% for video in v %}
            <div class="col-12 col-md-6 g-4">
                <div class="card">
                    <div class="video_card card">
                        <div class="intro">
                            <div class="wrapper"></div>
                            <img class="intro_pic"
                                 src="{% static 'images/1612579354_5-p-fon-dlya-prezentatsii-oranzhevii-s-zelenim-6.jpg' %}"
                                 alt=""/>
                            <i class="fa-solid fa-circle-play play"></i>
                        </div>
                        <iframe class="img-fluid video" src="https://www.youtube.com/embed/{{ video.video_link }}"
                                frameborder="0" allow="autoplay" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5>{{ video.video_title }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}

{% block script %}

<script src="{% static 'js/user_videos.js' %}"></script>
{% endblock %}