{% extends 'cryptency/base_panel.html' %}
{% load static %}


{% block content %}

<section class="purchase  content right-content" id="purchase">
    <div class="container">
        <div class="header_content mb-100 row justify-content-center">
            <div class="col-12 col-sm-8 col-md-9 col-lg-10">
                <h2 class=" mt-4 fw-bold">Оформить покупку</h2>
                <p>Выберите один из продуктов</p>
            </div>
            <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                <select onchange="selectSimbole()" name="cash" id="cash_simbole" class="form-select">
                    <option value="usd">USD</option>
                    <option value="byn">BYN</option>
                </select>
            </div>
        </div>
        {% if not pay_status %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show p-4" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill"/>
            </svg>
            <div>
                <strong>Проверка оплаты...</strong> После проверки вам будет доступны все видео ролики.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
        {% if not services %}
        <center>
            <i class="fa-solid fa-shop-slash text-danger" style="font-size: 200px;"></i>
            <h2> В базе нет услуг</h2>
        </center>
        {% else %}
        {% for service in services %}
        <div class="row bg-light mt-4">
            <div class="col-12 col-md-4 p-md-0">
                <div class="card purchase_card text-center text-white py-5">
                    <center>
                        <img class="navbar_img"
                             src="{% static 'images/IMG_20220823_220346-removebg-preview.png' %}"
                             alt="...">
                    </center>
                    <div class="card-body">
                        <h5 class="card-title my-4 fw-bold">{{service.service_name}}</h5>
                        <h2 id="h2_1" class="card-title my-4 fw-bold">* {{service.service_price1}} USD</h2>
                        <h2 id="h2_2" class="card-title my-4 fw-bold d-none">* {{service.service_price2}} BYN</h2>
                        <center>
                            <a href="buy/{{ service.pk }}" class="purchase_btn shadow d-inline d-md-none">Купить</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 fs-13 p-4">
                <div
                        class="d-flex purchase_text_btn align-items-center justify-content-between d-block d-md-none">
                    <h6 class="fw-bold">Подробнее</h6>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <div class=" purchase_text d-none d-md-block mt-3 mb-5">
                    <h6 class=" fw-bold ">{{service.service_title}}</h6>
                    <p>{{service.service_description}}</p>
                    <a href="buy/{{ service.pk }}" class="purchase_btn shadow d-none d-md-inline mb-4">Купить</a>
                </div>
                <a href="{% static 'profile_support' %}" class="h6" style="text-decoration: none; color: #808080;"><i
                        class="fa-solid fa-comment-dots me-2"></i>Написать в поддержку</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script>
    function selectSimbole() {
    let select_simbol = document.querySelector('#cash_simbole').value;

    $.ajax({
        url: "{% url 'user_purchase' %}",
        type: 'get',
        data: { simbole: select_simbol },
        success: function (data) {
            if (data == 'byn'){

                document.querySelectorAll('#h2_1').forEach(item => {
                    item.classList.add('d-none')
                });
                document.querySelectorAll('#h2_2').forEach(item => {
                    item.classList.remove('d-none')
                })
            }
            else {
                document.querySelectorAll('#h2_2').forEach(item => {
                    item.classList.add('d-none')
                });
                document.querySelectorAll('#h2_1').forEach(item => {
                    item.classList.remove('d-none')
                })
            }
        }
    });
}
const purchase_text_btn = document.querySelectorAll(('.purchase_text_btn'))
purchase_text_btn.forEach(item => {
    // console.log(item.parentElement.children[1]);
    item.addEventListener('click', (e) => {
        item.parentElement.children[1].classList.toggle('d-none')
        if (item.children[1].style.transform == 'rotate(180deg)') {
            item.children[1].style.transform = 'rotate(0deg)';
        }
        else {
            item.children[1].style.transform = 'rotate(180deg)';
        }
    })
})


</script>

{% endblock %}

